{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1>Уроки</h1>
</div>

<table class="data-table">
    <thead>
        <tr>
            <th>Номер урока</th>
            <th>Время</th>
            <th>Класс</th>
            <th>Предмет</th>
            <th>Тема</th>
            <th>Дата</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr class="row-link" onclick="location.href='{% url 'teacher_lesson' row.lesson.id %}'">
            <td>{{ row.lesson.lesson_number }}</td>
            <td>{{ row.start|time:"H:i"}}-{{ row.end|time:"H:i"}}</td>
            <td>{{ row.lesson.school_class.number }}{{ lesson.school_class.letter }}</td>
            <td>{{ row.lesson.subject.name }}</td>
            <td>{{ row.lesson.topic|default:"-"}}</td>
            <td>{{ row.lesson.lesson_date|date:"d.m.Y" }}</td>
        </tr>
        {% empty %}
        <tr class="empty-row">
            <td colspan="5">Уроков нет</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}